* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial';
    font-size: 16px;
    padding: 20px;
}

button {
    margin: 10px 0 0 0;
    padding: 10px;
    font-size: 16px;
}

.sendmassgage {  display: grid;
    grid-template-columns: 0.5fr 1.9fr 0.6fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ". . .";
  }

  .updateAgent {  display: grid;
    grid-template-columns: 2fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ". .";
  }
  
  